/* Importing fonts
font-family: 'Fira Sans', sans-serif; --> Subheadings
font-family: 'Kanit', sans-serif; --> Headings
font-family: 'Maitree', serif; --> Body */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Kanit:wght@300;600&family=Maitree:wght@400;600&display=swap');

/* ------- Page Layout ------- */
.app-container {  
  display: grid;
  grid-template-columns: 0.3fr 0.6fr 3fr 0.6fr 0.3fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". intro-container intro-container intro-container ."
    ". . body-container . .";
}

.intro-container { grid-area: intro-container; }

.body-container { grid-area: body-container; }

html {
  background-color: #011C26;
}

hr {
  background-color: #33A67C;
  border-color: transparent;
  border-width: 2px;
  width: 20%;
  opacity: 40%;
  margin: 80px auto;
}

hr#end {
  margin-top: 20px;
}


/* ------- Typography ------- */
h1 {
  text-shadow: -5px 5px #022859;
  font-family: 'Kanit', sans-serif;
  line-height: 1.2em;
  font-size: 8em;
  font-style: italic;
  margin: 1.5em 0em 2em;
  color: #F0F2F0;
}

h2 {
  margin: 15em 5em 2em;
  line-height: 2em;
  font-family: 'Maitree', serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #8FADBF;
}

h3 {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  color: #60A6A6;
  text-decoration: underline;
}

h4 {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  color: #fff;
  font-style: italic;
}

h5 {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #D8E6F2;
}

p {
  text-align: center;
  font-family: 'Maitree', serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #D8E6F2;
}

.text-link {
  text-align: center;
  font-family: 'Maitree', serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #33A67C;
}

.text-link:hover {
  color: #64d4ab;
  transition: all .3s ease-in-out;
}

/* ------- Selector style ------- */

.control-row-fish {
  font-family: 'Fira Sans', sans-serif;
  color: #60A6A6;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fishdata {
  margin: 10px 0px 5px;
  outline: none;
  font-family: 'Fira Sans', sans-serif;
  background-color: #427e8c1f;
  color: #D8E6F2;
  text-align: center;
  font-size: 1.2em;
  border-color: transparent;
  width: auto;
  padding: 10px 6px;
  cursor: pointer;
  border-bottom: 2px solid #427e8c6b;
  border-radius: 5px 5px 0px 0px;
}

.fishdata:active {
  color: #64d4ab;
}

.fishdata:hover {
  color:#64d4ab;
  transition: all .3s ease-in-out;
}

.fishdata option {
  background-color: #024959;
  color: #D8E6F2;
}


/* ------- Charts styling ------- */

.data-chart-choropleth {
  margin: -120px 0px -80px;
}

.data-chart {
  margin: 125px 0px;
}


/* ------- Image Styling ---------*/

/* Green nets at the top of the page*/
#green-nets {
  z-index: -1;
  opacity: 50%;
  width: 100%;
  height: auto;
  position: absolute;
  top: -50px;
  left: 0px;
}

/*Logos at the bottom of the page*/
.img-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo {
  margin: 50px 70px 0px;
}

.img-container img {
  opacity: 1;
  height: 200px;
  width: auto;
  border-radius: 50%;
  transition: .5s ease;
  cursor: pointer;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -42%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.logo:hover img {
  opacity: 0.2;
}

.logo:hover .overlay {
  opacity: 1;
}

.logo-text {
  text-decoration: none;
}

.logo-text:hover {
  text-decoration: underline;
  color:#64d4ab;
  transition: all .3s ease-in-out;
}

/* ------- Reference Styling ---------*/
h3#ref-title {
  font-size: 1.2em;
  text-align: left;
  opacity: 0.5;
}

p#references {
  font-size: 0.8em;
  text-align: left;
  opacity: 0.4;
}
  
  


